<!-- START: Misc Images -->
<section class="hidden lg:block">
    <img
        src="/assets/banner-honey-drip.png"
        alt="honey-drip"
        class="absolute left-0 top-0 w-[15%]">
    <img
        src="/assets/banner-honey-stick.png"
        alt="honey-stick"
        class="absolute left-0 top-[5rem] w-[15%]">
</section>
<!-- END: Misc Images -->

<!-- START: Main Banner -->
<div class="flex flex-col justify-center align-middle lg:h-[calc(100vh-6.9rem)]">
    <div class="container flex items-center justify-between">
        <section class="w-full lg:max-w-[45%]">
            <h2 class="mb-2 text-center font-serif text-2xl font-bold text-primary lg:text-left lg:text-4xl">
                {{ subtitle }}
            </h2>
            <h1 class="mb-5 text-center text-[2rem] font-semibold leading-tight lg:mb-5 lg:text-left lg:text-5xl">
                {{ title }}
            </h1>
            <h2 class="mx-auto mb-12 max-w-72 text-center text-black/75 lg:mx-0 lg:mb-8 lg:max-w-full lg:text-left">
                {{ caption }}
            </h2>

            <img
                src="/assets/banner-main-product-with-label.jpg"
                alt="banner-main-product-mobile"
                class="mb-4 block w-full lg:hidden">

            <div class="flex flex-col gap-4 lg:flex-row">
                <a href="https://wa.me/c/6282347905543" class="btn btn-primary px-6 shadow">
                    BELI SEKARANG
                </a>
                <a href="https://wa.me/6282347905543?text=Hai%20Raja%20Madu%20Sulawesi" class="btn px-6 shadow">
                    MENGAPA BELI MADU KAMI?
                </a>
            </div>
        </section>

        <img
            src="/assets/banner-main-product-with-label.jpg"
            alt="banner-main-product-desktop"
            class="hidden w-[55%] translate-x-8 transform lg:block">
    </div>
</div>
<!-- END: Main Banner -->

<!-- START: Jenis Madu -->
<div class="container py-16">
    {{ partial:section_title label="Jenis Madu" }}

    <section class="flex flex-col justify-around gap-12 lg:flex-row lg:gap-0">
        {{ taxonomy:categories }}
            <figure>
                <div class="mx-auto h-72 w-72 overflow-hidden rounded-full bg-neutral-200 p-2 lg:mx-0">
                    <img
                        src="{{ category_image }}"
                        alt="{{ category_image:alt }}"
                        class="h-full w-full object-contain">
                </div>
                <figcaption class="mt-6 text-center text-lg">
                    {{ title }}
                </figcaption>
                <a href="https://wa.me/c/6282347905543" class="mt-2 block text-center text-xs underline">
                    Selengkapnya >
                </a>
            </figure>
        {{ /taxonomy:categories }}
    </section>
</div>
<!-- END: Jenis Madu -->

<!-- START: Daftar Produk -->
<!-- END: Daftar Produk -->

<!-- START: Pak Jokowi -->
<!-- END: Pak Jokowi -->