<!doctype html>
<html lang="{{ site:short_locale }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Raja Madu Sulawesi - Madu solusi kualitas hidup anda">
        <title>{{ title }} - {{ site:name }}</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Dancing+Script:wght@400..700&display=swap" rel="stylesheet">
        <!-- <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Cookie&display=swap" rel="stylesheet"> -->
        {{ vite src="resources/js/site.js|resources/css/site.css" }}
    </head>
    <body class="bg-white">

        <!-- START: Header -->
        {{ partial:header }}
        <!-- END: Header -->


        <!-- START: Template Content -->
        {{ template_content }}
        <!-- END: Template Content -->


        <!-- START: Footer -->
        <!-- END: Footer -->
    </body>
</html>
